.fifth-section-container{
    background-color: #d9f6f6;
    position: relative;
    height: 630px;
}
.title-fifth-section{
color:#00b39b;
}
.first-part-fifth-section{
    width:40%;
    position: relative;
    margin: 30px 150px;
}

.parag-fifth-section{
    color: #7e787b;

}
.image-fifth-sec{
    position: absolute;
    top:341px;
    left:-154px;
}
.second-part-fifth-section{
    display: flex;
    position: relative;
    justify-content: space-between;
    
}
.card-fif-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height:210px;
    background-color: white;
 border-radius: 5px;   
 padding: 20px;
 line-height: 25px;
 position: absolute;
}
.title-card-fifth-secion{
    color: #00b39b;
    font-size: 20px;
    text-align: center;
}
.paragraphe-card-fifth-secion{
    color: #747474;
    font-size: 14px;
    text-align: center;
}
.card-fifth0{
    left:800px;
    top:-110px;
}
.card-fifth1{
    left:1060px;
    top:-140px;
}
.card-fifth2{
    left:800px;
    top:160px;
}
.card-fifth3{
    left:1060px;
    top:130px;
}